:root {
    /* Set the maximum width of the page to 900px */
    --max-width: 900px;
}

html {
    /*
    Add a fixed scrollbar, even if invisible
    Avoids a jerk after loading from page without scroll bar
    */
    overflow-y: auto;
    scrollbar-gutter: stable;
    /* font-family:
        Avenir,
        avenir next lt pro,
        Montserrat,
        Corbel,
        urw gothic,
        source-sans-pro,
        sans-serif,
        apple color emoji,
        segoe ui emoji,
        segoe ui symbol,
        noto color emoji; */
    }

body {
    min-height: 60vh;
    max-width: var(--max-width);
    position: relative;
    font-family:
    "Open Sans",
    "Hind Siliguri",
    Corbel,
    ui-sans-serif,
    system-ui,
    source-sans-pro,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

header,
main,
footer {
    max-width: var(--max-width);
}

main {
    padding-bottom: 0;
}

/* Remove link styling from footnote back to content icons */
a.footnote-backref {
    text-decoration: none;
}

/* =============================================================================
| Text alignment
============================================================================= */
main {
    p {
        text-align: justify;
    }
}

/* =============================================================================
| Mobile
============================================================================= */
@media screen and (max-width: 700px) {
    :root {
        font-size: clamp(8px, 1.5vw, 18px);
    }

    body {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    code {
        font-size: 1.2rem;
    }

}

/* =============================================================================
| Footer
============================================================================= */
nav.footer_table {
    display: table;
    width: 100%;
    font-size: calc(1.2 * var(--size));
}

div.footer_copyright {
    vertical-align: middle;
    text-align: left;
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
}

div.footer_socials {
    vertical-align: middle;
    text-align: right;
    width: 100%;
    display: table-cell;
    box-sizing: border-box;
}

svg.footer_social {
    width: 20px;
    height: 20px;
}

a.footer_social {
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: none;
}

/* =============================================================================
| List spacing
============================================================================= */

content li {
    margin-top: calc(0.2 * var(--spacing));
}

/* =============================================================================
| Mathjax for mobile
============================================================================= */
mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}

/* =============================================================================
| Center images
============================================================================= */
img {
    margin-left: auto;
    margin-right: auto;
}