:root {
    /* Set the maximum width of the page to 900px */
    --max-width: 900px;
}

html {
    /*
    Add a fixed scrollbar, even if invisible
    Avoids a jerk after loading from page without scroll bar
    */
    overflow-y: auto;
    scrollbar-gutter: stable;
}

body {
    min-height: 60vh;
    max-width: var(--max-width);
    position: relative;
}

header,
main,
footer {
    max-width: var(--max-width);
}

main {
    padding-bottom: 0;
}

/* Remove link styling from footnote back to content icons */
a.footnote-backref {
    text-decoration: none;
}

/* =============================================================================
| Text alignment
============================================================================= */
main {
    p {
        text-align: justify;
    }
}

/* =============================================================================
| Mobile
============================================================================= */
@media screen and (max-width: 700px) {
    body {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    p {
        font-size: calc(var(--size) * 1.6);
    }

    h1 {
        font-size: calc(var(--size) * 3.2);
    }

    h2 {
        font-size: calc(var(--size) * 2.6);
    }

    h3 {
        font-size: calc(var(--size) * 2.2);
    }

    h4 {
        font-size: calc(var(--size) * 1.6);
    }

    code {
        font-size: calc(var(--size) * 1.2);
    }

}

/* =============================================================================
| Footer
============================================================================= */
nav.footer_table {
    display: table;
    width: 100%;
    font-size: calc(1.2 * var(--size));
}

div.footer_copyright {
    vertical-align: middle;
    text-align: left;
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
}

div.footer_socials {
    vertical-align: middle;
    text-align: right;
    width: 100%;
    display: table-cell;
    box-sizing: border-box;
}

svg.footer_social {
    width: 20px;
    height: 20px;
}

a.footer_social {
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: none;
}

/* =============================================================================
| List spacing
============================================================================= */

content li {
    margin-top: calc(0.2 * var(--spacing));
}