:root {
    /* Set the maximum width of the page to 900px */
    --max-width: 800px;
}

html {
    /*
    Add a fixed scrollbar, even if invisible
    Avoids a jerk after loading from page without scroll bar
    */
    overflow-y: auto;
    scrollbar-gutter: stable;
    /* font-family:
        Avenir,
        avenir next lt pro,
        Montserrat,
        Corbel,
        urw gothic,
        source-sans-pro,
        sans-serif,
        apple color emoji,
        segoe ui emoji,
        segoe ui symbol,
        noto color emoji; */
}

body {
    min-height: 60vh;
    max-width: var(--max-width);
    position: relative;
    /* System UI */
    /* font-family: system-ui, sans-serif; */
    /* Humanist */
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    /* Geometric Humanist */
    /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
}

header,
main,
footer {
    max-width: var(--max-width);
}

main {
    padding-bottom: 0;
}

/* Remove link styling from footnote back to content icons */
a.footnote-backref {
    text-decoration: none;
}

/* =============================================================================
| Font size
============================================================================= */
p {
    font-size: 1.8rem;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

code {
    font-size: 1.4rem;
}

/* =============================================================================
| Text alignment
============================================================================= */
main {
    p {
        text-align: justify;
    }
}

/* =============================================================================
| Mobile
============================================================================= */
@media screen and (max-width: 800px) {
    :root {
        font-size: clamp(8px, 1.5vw, 18px);
    }

    body {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    p {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 3.4rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    code {
        font-size: 1.4rem;
    }

}

/* =============================================================================
| Footer
============================================================================= */
nav.footer_table {
    display: table;
    width: 100%;
    font-size: calc(1.2 * var(--size));
}

div.footer_copyright {
    vertical-align: middle;
    text-align: left;
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
}

div.footer_socials {
    vertical-align: middle;
    text-align: right;
    width: 100%;
    display: table-cell;
    box-sizing: border-box;
}

svg.footer_social {
    width: 20px;
    height: 20px;

    path {
        fill: var(--color-text);
    }
}

a.footer_social {
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: none;
}

/* =============================================================================
| List spacing
============================================================================= */

content li {
    margin-top: calc(0.2 * var(--spacing));
}

/* =============================================================================
| Mathjax for mobile
============================================================================= */
mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}

/* =============================================================================
| Center images
============================================================================= */
img {
    margin-left: auto;
    margin-right: auto;
}

/* =============================================================================
| Blog tags
============================================================================= */
a.blog-tags {
    text-decoration: none;
}

/* =============================================================================
| Blog posts
============================================================================= */
ul.blog-posts li a {
    font-weight: 400;
    text-decoration: none;
}