a:not(
	[href^="#"],
	[href^="/"],
	[href*="localhost"],
	[href*="ivoverhoeven.com"]
):not(
    .footer_socials a
):not(
    .blog-tags
) {

    & ::after {
        width: calc(var(--size) * 1.2);
        height: calc(var(--size) * 1.2);
        display: inline-block;
        content: "";

        /* Assumes color.css is loaded */
        background-color: var(--color-text);
    }

    /* Uses a mask to overlay an svg on top of the 'content' */
    /* -webkit-mask: url("/icons/external-link.svg") no-repeat 50% 50%; */
    & :not([href*="wikipedia.org"])::after {
        mask-size: cover;
        mask: url("/icons/external-link.svg") no-repeat 50% 50%;
        -webkit-mask-size: cover;
    }

}

a[href*="wikipedia.org"]::after {
    mask-size: cover;
    mask: url("/icons/wiki-w.svg") no-repeat 50% 50%;
    -webkit-mask: url("/icons/wiki-w.svg") no-repeat 50% 50%;
}