:root {
    --sidenote-width: 200px;
    --sidenote-offset: 20px;
}

.sidenote {
    &:hover {
        .sidenote-main-text {
            text-decoration: underline dashed var(--color-primary);
            text-underline-offset: 0.3ex;
            text-decoration-thickness: 0.3ex;
            text-decoration-color: var(--color-primary);
        }

        .sidenote-side-content {
            text-decoration: underline dashed var(--color-primary);
            text-underline-offset: 0.3ex;
            text-decoration-thickness: 0.3ex;
            text-decoration-color: var(--color-primary);
        }
    }
}

.sidenote-side-content {
    display: block;
    position: absolute;
    width: var(--sidenote-width);
    box-sizing: border-box;
    margin-top: -3.0rem;
    padding: 0.5rem;
    font-size: calc(var(--size) * 1.8);
    text-align: justify;

    &.sidenote-right {
        margin-left: calc(var(--max-width) + var(--sidenote-offset));
    }

    &.sidenote-left {
        margin-right: calc(var(--max-width) + var(--sidenote-offset));
    }

    @media screen and (max-width: 960px) {
        border: 1px solid var(--color-primary);
        border-left-width: 3px;
        background-color: inherit;

        position: static;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;

        &.sidenote-right {
            margin-left: 0px;
        }

        &.sidenote-left {
            margin-right: 0px;
        }

        .sidenote-side-ordinal {
            display: none;
        }
    }
}